$parent: popup;

@include block($parent) {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	display: none;
	min-height: 100vh;
	background-color: rgba($black, 0.5);
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 1100;
	opacity: 0;
	animation-duration: 0.4s;
	animation-fill-mode: both;
	animation-name: fadeIn;

	@include modifier($parent, 'open') {
		display: block;
		animation-play-state: running;
	}

	@include element($parent, 'content-wrap') {
		text-align: left;
		min-height: 100%;
		height: 100%;
		position: relative;
		pointer-events: none;
		margin: 0 auto;
	}
}
