/*
@font-face {
	font-family: 'EXAMPLE';
	src: local('EXAMPLE'), local('EXAMPLE'), url('../../assets/fonts/EXAMPLE.woff2') format('woff2'), url('../../assets/fonts/EXAMPLE.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: fallback;
}
*/
