extends ../layouts/main.pug
include ../blocks/header/header.pug
include ../blocks/experience/experience.pug
include ../blocks/services/services.pug
include ../blocks/footer/footer.pug

block vars
	- var headerPage = require('../data/header/header.json');
	- var experiencePage = require('../data/experience/experience.json');

block content
	+header(headerPage)
	+experience(experiencePage)
	+services
	+footer