extends ../layouts/main.pug
include ../blocks/header/header.pug
include ../blocks/experience/experience.pug
include ../blocks/services/services.pug
include ../blocks/footer/footer.pug

block vars
	- var headerPage = require('../data/about/header/header.json');
	- var experiencePage = require('../data/about/experience/experience.json');
	- var servicesPage = require('../data/about/services/services.json');
	- var footerPage = require('../data/about/footer/footer.json');

block content
	+header(headerPage)
	+experience(experiencePage)
	+services(servicesPage)
	+footer(footerPage)