extends ../layouts/main.pug
include ../blocks/header/header.pug
include ../blocks/experience/experience.pug
include ../blocks/services/services.pug
<<<<<<< HEAD
include ../blocks/footer/footer.pug
=======
>>>>>>> 625f9b90dc1d6d45e2d850fec1bc37818e8e944f

block vars
	- var headerPage = require('../data/header/header.json');

block content
	+header(headerPage)
	+experience
<<<<<<< HEAD
	+services
	+footer
=======
	+services
>>>>>>> 625f9b90dc1d6d45e2d850fec1bc37818e8e944f
