$parent: btn;

.btn-container {
  position: relative;
<<<<<<< HEAD
  width: rem(291);
  height: rem(87);
=======
  width: rem(289);
  height: rem(85);
>>>>>>> 625f9b90dc1d6d45e2d850fec1bc37818e8e944f
  border: rem(1) solid $white;
}

@include block($parent) {
  position: relative;
  bottom: rem(10);
  left: rem(9);
  width: 100%;
  height: 100%;
  font-family: $Museo;
  font-weight: 600;
  font-size: rem(20);
  color: $black;
  background-color: $white;
  cursor: pointer;
<<<<<<< HEAD
  transition: $ease left, $ease bottom;

  &:hover {
    bottom: 0;
    left: 0;
    transition: $ease left, $ease bottom;
  }
=======
>>>>>>> 625f9b90dc1d6d45e2d850fec1bc37818e8e944f
}