$parent: footer;

@include block($parent) {
  margin-top: rem(130);
  padding-top: rem(88);
  padding-bottom: rem(46);
  background-color: $black;

  @include element($parent, "container") {
    display: flex;
    justify-content: space-between;
    margin-right: rem(66);
    margin-bottom: rem(62);

    @include max-media("tMax") {
      flex-direction: column;
      margin-right: 0;
    }
  }

  @include element($parent, "item") {
    @include max-media("tMax") {
      margin-bottom: rem(40);
      text-align: center;
    }
  }

  @include element($parent, "title") {
    margin-bottom: rem(33);
    font-family: $Museo;
    font-weight: 600;
    font-size: rem(24);
    color: $white;

    @include modifier($parent, "social") {
      margin-bottom: 0;
      margin-right: rem(66);
      font-size: rem(18);

      @include max-media("tMax") {
        margin-right: 0;
      }
    }
  }

  @include element($parent, "btn") {
    font-family: $Museo;
    font-weight: 500;
    font-size: rem(20);
    color: $red;
  }

  @include element($parent, "arrow") {
    display: inline-block;
    margin-left: rem(13);
    width: rem(19);
    height: rem(10);
  }

  @include element($parent, "item-links") {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: rem(40);

    @include modifier($parent, "column-xs") {
      @include max-media("sMax") {
        flex-direction: column;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    @include max-media("tMax") {
      justify-content: space-around;
      margin-bottom: rem(40);
      text-align: center;
    }
  }

  @include element($parent, "social-link") {
    margin-right: rem(23);

    &:last-child {
      margin-right: 0;
    }

    @include max-media("tMax") {
      margin-right: 0;
    }
  }

  @include element($parent, "icon") {
    width: rem(15);
    height: rem(15);

    @include modifier($parent, "fb") {
      width: rem(8);
      height: rem(14);
    }

    @include modifier($parent, "bh") {
      width: rem(18);
      height: rem(17);
    }

    @include modifier($parent, "inst") {
      width: rem(17);
      height: rem(17);
    }

    @include modifier($parent, "wechat") {
      width: rem(17);
      height: rem(15);
    }

    @include modifier($parent, "whats") {
      width: rem(18);
      height: rem(17);
    }
  }

  @include element($parent, "contact-info") {
    margin-right: rem(50);
    font-family: $Museo;
    font-size: rem(16);
    color: $white;

    &:last-child {
      margin-right: 0;
    }

    @include max-media("tMax") {
      margin-right: 0;
    }
  }

  @include element($parent, "red") {
    padding-bottom: rem(5);
    color: $red;
    border-bottom: rem(1) solid $red;
  }

  @include element($parent, "link") {
    margin-right: rem(39);
    font-family: $Museo;
    font-weight: 300;
    font-size: rem(16);
    color: #fff;

    &:last-child {
      margin-right: 0;
    }

    @include max-media("tMax") {
      margin-right: 0;
    }

    @include max-media("sMax") {
      margin-bottom: rem(20);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  @include element($parent, "copyright") {
    display: flex;
    justify-content: space-between;
    margin-right: rem(246);

    @include max-media("tMax") {
      margin-right: 0;
    }
  }

  @include element($parent, "copyright-item") {
    font-family: $Museo;
    font-weight: 300;
    font-size: rem(16);
    color: $gray;

    @include modifier($parent, "text-rigth") {
      @include max-media("mMax") {
        text-align: right;
      }
    }
  }

  @include element($parent, "copyright-company") {
    font-weight: 600;
  }
}
