include /logo/header-logo.pug
include /nav/header-nav.pug
include ../../core/btn/btn.pug

mixin header(headerData)
  header.header
    .header__nav
      .page-container.header__container
        +header-logo
        +header-nav(headerData.links, headerData.lang)
        .header__telephone #{headerData.telephone}
    .header__content
      .header__title <span class="header__title-span">Gem</span> Expo - international exhibition and event company
      .header__sub-title We believe that each event is a new opportunity for cooperation, development and promotion for our Customers. We strive to help our Clients improve their business.
      picture.header__img
<<<<<<< HEAD
        img(src="./assets/images/header-img.png" srcset="../../assests/images/header-img_X2.webp 2x")
=======
        img(src="../../assets/images/header-img.png" srcset="../../assests/images/header-img_X2.webp 2x")
>>>>>>> 625f9b90dc1d6d45e2d850fec1bc37818e8e944f
      +btn("Plan a project","header__btn-container")