include /logo/header-logo.pug
include /nav/header-nav.pug

mixin header(objPage)
  .header
    .header__nav
      .page-container.header__container
        +header-logo
        +header-nav(objPage.links, objPage.lang)
        .header__telephone #{objPage.telephone}
    .header__content
      .header__title <span class="header__title-span">Gem</span> Expo - international exhibition and event company
      .header__sub-title We believe that each event is a new opportunity for cooperation, development and promotion for our Customers. We strive to help our Clients improve their business.