include /logo/header-logo.pug
include /nav/header-nav.pug
include ../../core/btn/btn.pug
include ../../core/picture/picture.pug

mixin header(headerData)
  header.header
    .header__nav
      .page-container.header__container
        +header-logo
        +header-nav(headerData.links, headerData.lang)
        .header__telephone #{headerData.telephone}
        .header__burger-btn
    .header__content
      .page-container
        .header__text-content
          .header__title <span class="header__title-span">#{headerData.red_line}</span> #{headerData.title}
          .header__sub-title #{headerData.sub_title}
      +picture(headerData.picture, "header__img")
      +btn("Plan a project", "header__btn-container")