$parent: header;

@include block($parent) {
  background-color: $black;

  .header-logo {
    margin-right: rem(219);
  }

  .header-nav {
    margin-right: rem(147);
  }

  @include element($parent, "container") {
    display: flex;
    align-items: center;
    padding: rem(37) 0;
  }

  @include element($parent, "telephone") {
    margin-top: rem(8);
    font-family: $Museo;
    font-weight: 300;
    font-size: rem(16);
    color: $white;
  }

  @include element($parent, "nav") {
    margin-bottom: rem(62);
  }

  @include element($parent, "content") {
    margin-left: rem(220);
  }

  @include element($parent, "title-span") {
    position: relative;
    color: $red;
    &::after {
      content: "";
      background-image: url("./../../assets/images/header-vector.png");
      background-repeat: no-repeat;
      background-position: rem(-17) rem(-90);
      position: absolute;
      bottom: rem(15);
      left: 0;
      width: 100%;
      height: 64%;
    }
  }

  @include element($parent, "title") {
    max-width: rem(913);
    margin-bottom: rem(55);
    font-family: $Museo;
    font-weight: 600;
    font-size: rem(64);
    color: $white;
  }

  @include element($parent, "sub-title") {
    max-width: rem(897);
    font-family: $Museo;
    font-weight: 300;
    font-size: rem(20);
    line-height: rem(30);
    color: #fff;
  }
}
