extends ../layouts/main.pug
include ../blocks/product/product.pug

block vars
	- var indexData = require('../data/index/index.json');

block content
	+product(indexData)
	+product(indexData)
	+product(indexData)