@import "~bootstrap/scss/bootstrap";
$parent: main;

@include block($parent) {
	max-width: rem(1200);
	margin: 0 auto;

	@include element($parent, "filter") {
		padding: 20px;
		border: 1px solid blue;
		margin-bottom: 40px;
	}

	@include element($parent, "filter-content") {
		display: flex;
		justify-content: space-between;
	}

	@include element($parent, "control") {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	@include element($parent, 'item') {
		display: flex;
		justify-content: space-between;

		@include modifier(&, "display-none") {
			display: none;
		}
	}

	@include element($parent, "feature") {
		display: flex;
		justify-content: space-between;
	}

	@include element($parent, "range-input") {
		appearance: none;
		width: 200px;
		margin: 0;
		padding: 0 2px;
		overflow: hidden;
		border: 0;
		border-radius: 1px;
		outline: none;
		background: linear-gradient(grey, grey) no-repeat center;
		background-size: 100% 2px;
		pointer-events: none;

		&::-webkit-slider-thumb {
			height: 28px;
			width: 28px;
			border-radius: 28px;
			background-color: black;
			position: relative;
			margin: 5px 0;
			cursor: pointer;
			appearance: none;
			pointer-events: all;
			box-shadow: 0 1px 4px 0.5px rgba(0, 0, 0, 0.25);

			&::before {
				content: ' ';
				display: block;
				position: absolute;
				top: 13px;
				left: 100%;
				width: 2000px;
				height: 2px;
			}
		}

		&:active,
		&:focus {
			outline: none;
		}
	}

	@include element($parent, "range-container") {
		position: relative;
		width: 200px;
		height: 50px;

		input[type=range] {
			position: absolute;

			&:nth-child(1) {
				&::-webkit-slider-thumb::before {
					background-color: purple;
				}
			}

			&:nth-child(2) {
				background: none;

				&::-webkit-slider-thumb::before {
					background-color: grey;
				}
			}
		}
	}
}
