$parent: header-nav;

@include block($parent) {
  margin-left: rem(88);

  @include max-media("tMax") {
    display: none;
  }

  @include element($parent, "link") {
    margin-right: rem(53);
    padding-bottom: rem(9);
    font-family: $Museo;
    font-weight: 300;
    font-size: rem(16);
    color: #898a8c;
    border-bottom: rem(1) solid transparent;
    cursor: pointer;
    transition: $ease color;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: $white;
      border-bottom: rem(1) solid $white;
      transition: $ease all;
    }

    @include modifier(&, "active") {
      color: $white;
      border-bottom: rem(1) solid $white;
    }

    @include modifier(&, "margin") {
      margin-right: rem(15);
    }
  }
}
