mixin header-nav(arrLinks, arrLang)
    .header-nav
      each val in arrLinks
        if(val.active)
          a.header-nav__link.header-nav__link--active(href= val.href)= val.title
        else
          if (val.type)
            a.header-nav__link.header-nav__link--margin(href= val.href)= val.title
          else
            a.header-nav__link(href= val.href)= val.title