$parent: footer-contact;

@include block($parent) {
  display: flex;
  justify-content: space-between;
  padding-top: rem(12);
  margin-bottom: rem(118);
  margin-right: rem(39);

  @include element($parent, "title") {
    max-width: rem(523);
    font-family: $Museo;
    font-weight: 500;
    font-size: rem(54);
    line-height: rem(76);
    color: $white;
  }

  @include element($parent, "input-container") {
    margin-bottom: rem(79);
  }

  @include element($parent, "input") {
    display: block;
    width: 100%;/*! 496px*/
    margin-bottom: rem(40);
    padding: 0 rem(2) rem(15) rem(2);
    font-family: $Museo;
    font-weight: 300;
    font-size: rem(16);
    color: $gray;
    background-color: transparent;
    border-bottom: rem(1) solid $gray;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include element($parent, "rules") {
    display: inline-block;
    max-width: rem(181);
    font-family: $Museo;
    font-weight: 300;
    font-size: rem(12);
    line-height: rem(22);
    color: $white;
  }

  @include element($parent, "btn") {
    display: inline-block;
    width: rem(274);
    margin-right: rem(37);
  }
}