include ../../../core/btn/btn.pug
mixin footer-contact(contactData)
    -var inputs= contactData.inputs
    .page-container
        .footer-contact
            .footer-contact__title !{contactData.title}
            form.footer-contact__form
                .footer-contact__input-container
                  each val in inputs
                    input.footer-contact__input(placeholder= val.placeholder)
                +btn("Send", "footer-contact__btn")
                .footer-contact__rules !{contactData.rules}
