include ../../../core/btn/btn.pug

mixin footer-contact
    .page-container
        .footer-contact
            .footer-contact__title Send an application and we will send you our portfolio
            form.footer-contact__form
                .footer-contact__input-container
                    input.footer-contact__input(placeholder= "Name")
                    input.footer-contact__input(placeholder= "E-mail")
                +btn("Send", "footer-contact__btn")
                .footer-contact__rules By submitting the form you agree with the <a class="footer__red-link">Terms of conditions</a>
