mixin services(servicesData)
  -var items = servicesData.items;
  -var count = 0;
  section.services
    .page-container
      .services__title #{servicesData.title}
      .services__container
        each val in items
          if count == 0
            .services__item
              .services__item-title #{val.title}
              svg.services__arrow
                use(xlink:href=loadAssets('./svg/red-arrow.svg'))
              -count++
          else
            .services__item.services__item--bottom-text
              .services__item-title #{val.title}
              svg.services__arrow
                use(xlink:href=loadAssets('./svg/red-arrow.svg'))
              -count--