$parent: services;

@include block($parent) {
  margin-top: rem(42);

  @include element($parent, "title") {
    margin-bottom: rem(74);
    font-family: $Museo;
    font-weight: 600;
    font-size: rem(54);
    color: $black;
  }

  @include element($parent, "item") {
    position: relative;
    width: 20%;
    padding-top: rem(132);
    padding-bottom: rem(316);
    text-align: center;
    background-color: $white;
    border: rem(1) solid $black;
    border-right: none;
    cursor: pointer;
    transition: $ease background-color;

    &:last-child {
      border-right: rem(1) solid $black;
    }

    &:hover {
      background-color: $black;
      transition: $ease background-color;
    }

    &:hover > .services__item-title {
      color: $white;
      transition: $ease color;
    }

    &:hover > .services__arrow {
      opacity: 1;
      transition: $ease opacity;
    }

    @include modifier($parent, "bottom-text") {
      padding-top: rem(374);
      padding-bottom: rem(74);
    }

    @media (max-width: $t930) {
      width: 50%;
      border-bottom: none;

      &:nth-child(2n) {
        border-right: rem(1) solid $black;
      }

      &:last-child {
        width: 100%;
        border-bottom: rem(1) solid $black;
      }
    }

    @include max-media("sMax") {
      width: 100%;
      border-right: rem(1) solid $black;
    }
  }

  @include element($parent, "container") {
    display: flex;

    @media (max-width: $t930) {
      flex-wrap: wrap;
    }
  }

  @include element($parent, "item-title") {
    min-height: rem(104);/*!*/
    font-family: $Museo;
    font-weight: 600;
    font-size: rem(44);
    color: $black;
    text-transform: uppercase;
    word-wrap: break-word;
    transition: $ease color;

    @include modifier($parent, "two-line") {
      max-width: rem(155);
      margin: 0 auto;
      text-align: left;

      @media (max-width: $t930) {
        max-width: none;
        text-align: center;
      }
    }
  }

  @include element($parent, "arrow") {
    position: absolute;
    left: 50%;
    bottom: rem(50);
    transform: translateX(-50%);
    width: rem(19);
    height: rem(10);
    margin: 0 auto;
    opacity: 0;
    transition: $ease opacity;
  }
}
