mixin services
  section.services
    .page-container
      .services__title Our services
      .services__container
        .services__item
          .services__item-title expo
          svg.services__arrow
            use(xlink:href=loadAssets('./svg/services-arrow.svg'))
        .services__item.services__item--bottom-text
          .services__item-title event
          svg.services__arrow
            use(xlink:href=loadAssets('./svg/services-arrow.svg'))
        .services__item
          .services__item-title promo
          svg.services__arrow
            use(xlink:href=loadAssets('./svg/services-arrow.svg'))
        .services__item.services__item--bottom-text
          .services__item-title digital
          svg.services__arrow
            use(xlink:href=loadAssets('./svg/services-arrow.svg'))
        .services__item
          .services__item-title.services__item-title--two-line production
          svg.services__arrow
            use(xlink:href=loadAssets('./svg/services-arrow.svg'))