$parent: experience;

@include block($parent) {
  padding-top: rem(130);

  @include max-media("mMax") {
    padding-top: rem(80);
  }

  @include element($parent, "container") {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: rem(109);

    @include modifier(&, "justify-end") {
      justify-content: flex-end;
      margin-left: 0;
    }

    @include max-media("tMax") {
      margin-left: 0;
    }

    @include max-media("mMax") {
      flex-direction: column;
      align-items: flex-start;
    }

    @include modifier(&, "reverse-mm") {
      @include max-media("mMax") {
        flex-direction: column-reverse;
      }
    }
  }

  @include element($parent, "content") {
    @include modifier(&, "black") {
      background-color: $black;
    }

    @include modifier(&, "padding") {
      padding: rem(169) rem(170) rem(143) rem(188);
    }
  }

  @include element($parent, "item") {
    margin-bottom: rem(130);

    &:last-child {
      margin-bottom: 0;
    }

    @include modifier(&, "margin") {
      padding-top: rem(184);

      @media (max-width: $t930) {
        padding-top: 0;
      }
    }

    @media (max-width: $t930) {
      margin-bottom: rem(70);
    }
  }

  @include element($parent, "item-title") {
    max-width: rem(282);
    margin-bottom: rem(60);
    font-family: $Museo;
    font-weight: 600;
    font-size: rem(54);
    line-height: rem(76);
    color: $black;

    @include max-media("mMax") {
      max-width: none;
      margin-bottom: rem(20);
      font-size: rem(42);
      line-height: rem(50);
    }
  }

  @include element($parent, "paragraph") {
    max-width: rem(359);
    margin-bottom: rem(50);
    font-family: $Museo;
    font-weight: 300;
    font-size: rem(16);
    line-height: rem(29);
    color: $black;

    @include modifier(&, "white") {
      color: $white;
    }

    @include modifier(&, "width") {
      max-width: rem(298);
    }

    &:last-child {
      margin-bottom: 0;
    }

    @media (max-width: $t930) {
      max-width: rem(640);
      margin: 0 auto;
    }
  }

  @include element($parent, "title-span") {
    position: relative;
    color: $red;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: rem(4);
      width: 100%;
      height: 64%;
      background-image: url("./../../assets/images/vector-white.png");
      background-repeat: no-repeat;
      background-position: rem(-23) rem(-88);
    }
  }

  @include element($parent, "img") {
    img {
      width: 100%;
      height: 100%;
    }


    @include max-media("mMax") {
      position: static;
      height: 360px;
      margin-bottom: rem(30);
      margin-right: 0;
    }

    @include modifier(&, "position") {
      position: absolute;
      top: rem(-184);
      left: 0;
      margin-right: rem(508);
    }
  }
}
