include ../../core/picture/picture.pug

mixin experience(experienceData)
  -var items = experienceData.items
  section.experience
    each val in items
      if(val.isBetween)
        .experience__item
          .page-container
            .experience__container.experience__container--reverse-mm
              .experience__content
                .experience__item-title !{val.title}
                each item in val.text
                  p.experience__paragraph #{item.paragraph}
              +picture(val.picture, "experience__img")
      else
        .experience__item.experience__item--margin
          .page-container
            .experience__container.experience__container--justify-end
              +picture(val.picture, "experience__img experience__img--position")
              .experience__content.experience__content--black.experience__content--padding
                each item in val.text
                  p.experience__paragraph.experience__paragraph--white.experience__paragraph--width #{item.paragraph}
