@font-face {
	font-family: 'TTNormsBlack';
	src: url('../../fonts/TTNORMS-BLACK.TTF');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'TTNormsBlack';
	src: url('../../fonts/TTNORMS-BLACKITALIC.TTF');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'TTNorms';
	src: url('../../fonts/TTNORMS-BOLD.TTF');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'TTNorms';
	src: url('../../fonts/TTNORMS-BOLDITALIC.TTF');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'TTNorms';
	src: url('../../fonts/TTNORMS-EXTRABOLD.TTF');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'TTNorms';
	src: url('../../fonts/TTNORMS-EXTRABOLDITALIC.TTF');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'TTNorms';
	src: url('../../fonts/TTNORMS-EXTRALIGHT.TTF');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'TTNorms';
	src: url('../../fonts/TTNORMS-EXTRALIGHTITALIC.TTF');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'TTNorms';
	src: url('../../fonts/TTNORMS-HEAVY.TTF');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'TTNorms';
	src: url('../../fonts/TTNORMS-HEAVYITALIC.TTF');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'TTNorms';
	src: url('../../fonts/TTNORMS-HEAVYITALIC.TTF');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'TTNorms';
	src: url('../../fonts/TTNORMS-REGULAR.TTF');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'TTNorms';
	src: url('../../fonts/TTNORMS-ITALIC.TTF');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'TTNorms';
	src: url('../../fonts/TTNORMS-LIGHT.TTF');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'TTNorms';
	src: url('../../fonts/TTNORMS-LIGHTITALIC.TTF');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'TTNorms';
	src: url('../../fonts/TTNORMS-MEDIUM.TTF');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'TTNorms';
	src: url('../../fonts/TTNORMS-MEDIUMITALIC.TTF');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'TTNorms';
	src: url('../../fonts/TTNORMS-THIN.TTF');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'TTNorms';
	src: url('../../fonts/TTNORMS-THINITALIC.TTF');
	font-weight: 100;
	font-style: italic;
}