$parent: core-container;

@include block($parent) {
	max-width: rem(1315);
	padding: 0 rem(20);
	margin: 0 auto;

	@include min-media('t') {
		padding: 0 rem(40);
	}

	@include min-media('xl') {
		padding: 0 rem(15);
	}

	@include element($parent, 'element') {
		color: red;

		@include modifier($parent, 'modifier') {
			color: black;
		}
	}

	@include modifier($parent, 'modifier') {
		color: black;
	}
}
